@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl md:text-5xl;
}

h2 {
  @apply text-2xl md:text-4xl;
}

h3 {
  @apply text-xl md:text-3xl;
}

body {
  font-family: 'Patrick Hand', 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #fb4b00;
  padding: 0.5em 1em;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  /* border: 1px solid #050201; */
  /* font-size: 0.875rem; */

  display: inline-block;
}

.td {
  @apply border border-blue-600;
}

.layout {
  @apply w-11/12 max-w-5xl mx-auto my-auto;
}

.hero {
  min-height: calc(100vh - 4rem);
  @apply px-10;
}

.full-screen {
  min-height: calc(100vh - 4rem);
}

@media (min-width: 768px) {
  /* .hero {
    min-height: calc(100vh - 5rem);
  } */
}
